
<div class="hero text-light d-flex align-items-center flex-wrap">

  <div class="col-sm-12 col-md-10 col-lg-6 mr-auto ml-auto">
    <h2 class="hero__headline">
      <%= lorem.words(3).titleize %>
    </h2>

    <!-- <p class="hero__richtext">
      <%= lorem.paragraphs(1) %>
    </p> -->

    <button type="button" class="btn btn-primary hero__cta">
      <%= lorem.words(3).titleize %>
    </span>
    </button>
  </div>

  <div class="hero__image"></div>
</div>
